p.Anchor
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.Anchor_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0em;
  margin-top: 0.0pt;
}

.Anchor_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.B1_002eBullet1
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.B1_002eBullet1_outer
{
  margin-bottom: 6pt;
  margin-right: 0em;
  margin-top: 6pt;
}

.B1_002eBullet1_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.B2_002eBullet2
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.B2_002eBullet2_outer
{
  margin-bottom: 6pt;
  margin-right: 0em;
  margin-top: 6pt;
}

.B2_002eBullet2_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.C1_002econtinued1
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 4.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.C1_002econtinued1_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0em;
  margin-top: 4.0pt;
}

.C1_002econtinued1_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.C2_002econtinued2
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 4.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.C2_002econtinued2_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0em;
  margin-top: 4.0pt;
}

.C2_002econtinued2_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

h2.ChT_002eNoNum
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 3pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.ChT_002eNoNum_outer
{
  margin-bottom: 3pt;
  margin-right: 0em;
  margin-top: 0.0pt;
}

.ChT_002eNoNum_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.CL_002eCopyrightLeft
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.CL_002eCopyrightLeft_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0em;
  margin-top: 0.0pt;
}

.CL_002eCopyrightLeft_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.CodeInNumList
{
  color: Black;
  font-family: Courier New, Courier, mono;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.CodeInNumList_outer
{
  margin-bottom: 0;
  margin-right: 0em;
  margin-top: 0.0pt;
}

.CodeInNumList_inner
{
  color: Black;
  font-family: Courier New, Courier, mono;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.CR_002eCopyrightRight
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.CR_002eCopyrightRight_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0em;
  margin-top: 0.0pt;
}

.CR_002eCopyrightRight_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.Cv_002eCode
{
  color: Black;
  font-family: Courier New, Courier, mono;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 2pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.Cv_002eCode_outer
{
  margin-bottom: 0;
  margin-right: 0em;
  margin-top: 2pt;
}

.Cv_002eCode_inner
{
  color: Black;
  font-family: Courier New, Courier, mono;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.CvF_002eCodeFull
{
  color: Black;
  font-family: Courier New, Courier, mono;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 13.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.CvF_002eCodeFull_outer
{
  margin-bottom: 0;
  margin-right: 0em;
  margin-top: 13.0pt;
}

.CvF_002eCodeFull_inner
{
  color: Black;
  font-family: Courier New, Courier, mono;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.DblColListHead
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.DblColListHead_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0em;
  margin-top: 6.0pt;
}

.DblColListHead_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.DblColListText
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.DblColListText_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0em;
  margin-top: 0.0pt;
}

.DblColListText_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Fg_002eFigure
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 13.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 13.0pt;
  text-align: center;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.Fg_002eFigure_outer
{
  margin-bottom: 13.0pt;
  margin-right: 0em;
  margin-top: 13.0pt;
}

.Fg_002eFigure_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  text-align: center;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.FL_002eLeftFooter
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.FL_002eLeftFooter_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0em;
  margin-top: 0.0pt;
}

.FL_002eLeftFooter_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.FR_002eRightFooter
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.FR_002eRightFooter_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0em;
  margin-top: 0.0pt;
}

.FR_002eRightFooter_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.FunctionDesc
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 10.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.FunctionDesc_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0em;
  margin-top: 10.0pt;
}

.FunctionDesc_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

h2.H1_002eHeading1
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 8.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 22.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.H1_002eHeading1_outer
{
  margin-bottom: 8.0pt;
  margin-right: 0em;
  margin-top: 22.0pt;
}

.H1_002eHeading1_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

h3.H2_002eHeading2
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 4.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 22.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.H2_002eHeading2_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0em;
  margin-top: 22.0pt;
}

.H2_002eHeading2_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

h4.H3_002eHeading3
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 17.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.H3_002eHeading3_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0em;
  margin-top: 17.0pt;
}

.H3_002eHeading3_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

h5.H4_002eHeading4
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 8.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.H4_002eHeading4_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0em;
  margin-top: 8.0pt;
}

.H4_002eHeading4_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.H5_002eHeadRunIn
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 8.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.H5_002eHeadRunIn_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0em;
  margin-top: 8.0pt;
}

.H5_002eHeadRunIn_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.Important
{
  color: #003366;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: oblique;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 2.5em;
  margin-right: 0em;
  margin-top: 5em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.Important_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0em;
  margin-top: 5em;
}

.Important_inner
{
  color: #003366;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: oblique;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.L_002eListing
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 11.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 25.0pt;
  text-align: center;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.L_002eListing_outer
{
  margin-bottom: 11.0pt;
  margin-right: 0em;
  margin-top: 25.0pt;
}

.L_002eListing_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  text-align: center;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.N_002eNList
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.N_002eNList_outer
{
  margin-bottom: 6pt;
  margin-right: 0em;
  margin-top: 6pt;
}

.N_002eNList_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.N_002f_002eNList_003d1
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.N_002f_002eNList_003d1_outer
{
  margin-bottom: 6pt;
  margin-right: 0em;
  margin-top: 6pt;
}

.N_002f_002eNList_003d1_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.N2_002eNList_002ea
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.N2_002eNList_002ea_outer
{
  margin-bottom: 6pt;
  margin-right: 0em;
  margin-top: 6pt;
}

.N2_002eNList_002ea_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.N2_002eNList_002ea_003da
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.N2_002eNList_002ea_003da_outer
{
  margin-bottom: 6pt;
  margin-right: 0em;
  margin-top: 6pt;
}

.N2_002eNList_002ea_003da_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.NB_002eNoteBullet
{
  color: #003366;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: oblique;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.NB_002eNoteBullet_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0em;
  margin-top: 6.0pt;
}

.NB_002eNoteBullet_inner
{
  color: #003366;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: oblique;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.Note
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 10.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.Note_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0em;
  margin-top: 10.0pt;
}

.Note_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.NT_002eNoteText
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.NT_002eNoteText_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0em;
  margin-top: 6.0pt;
}

.NT_002eNoteText_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.ParamDesc
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 10.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 10.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.ParamDesc_outer
{
  margin-bottom: 10.0pt;
  margin-right: 0em;
  margin-top: 10.0pt;
}

.ParamDesc_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.ParamName
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 13.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.ParamName_outer
{
  margin-bottom: 13.0pt;
  margin-right: 0em;
  margin-top: 6.0pt;
}

.ParamName_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.Syntax
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 14.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 14.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.Syntax_outer
{
  margin-bottom: 14.0pt;
  margin-right: 0em;
  margin-top: 14.0pt;
}

.Syntax_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.T1_002eText1
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 10.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.T1_002eText1_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0em;
  margin-top: 10.0pt;
}

.T1_002eText1_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.TA_002eTextAfterHead
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.TA_002eTextAfterHead_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0em;
  margin-top: 0.0pt;
}

.TA_002eTextAfterHead_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TableTitle
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 25.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.TableTitle_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0em;
  margin-top: 25.0pt;
}

.TableTitle_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.TbB_002eTblBullet
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 1.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.TbB_002eTblBullet_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0em;
  margin-top: 1.0pt;
}

.TbB_002eTblBullet_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TbH_002eTblHd
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: center;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.TbH_002eTblHd_outer
{
  margin-bottom: 0em;
  margin-right: 0em;
  margin-top: 0em;
}

.TbH_002eTblHd_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: center;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TbT_002eTblText
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.TbT_002eTblText_outer
{
  margin-bottom: 0em;
  margin-right: 0em;
  margin-top: 0em;
}

.TbT_002eTblText_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.Tip
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 10.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.Tip_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0em;
  margin-top: 10.0pt;
}

.Tip_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.TS_002eTextStayWithNext
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 10.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.TS_002eTextStayWithNext_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0em;
  margin-top: 10.0pt;
}

.TS_002eTextStayWithNext_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

span.ac_002eAuthorComment
{
  color: #ff00ff;
  font-style: italic;
}

span.bold
{
  font-weight: bold;
}

span.cv
{
  color: #000000;
  font-family: Courier New, Courier, mono;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.Folio
{
  font-family: "Times New Roman";
  font-size: 10.0pt;
  font-style: normal;
  font-weight: bold;
}

span.Invisible
{
  color: #ffffff;
  font-size: 5.0pt;
}

em.italics
{
  font-style: italic;
}

span.RegularCaps
{
  color: #000000;
  font-family: Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

table.Box
{
  border-bottom-width: 1pt;
  border-left-width: 1pt;
  border-right-width: 1pt;
  border-top-width: 1pt;
  margin-bottom: 2.0pt;
  margin-left: 99.0pt;
  margin-right: 7.7443pt;
  margin-top: 6.0pt;
  padding-bottom: 2pt;
  padding-left: 6pt;
  padding-right: 6pt;
  padding-top: 4pt;
  text-align: left;
}

table.Wide
{
  border-bottom-color: #CCCCCC;
  border-bottom-width: 1pt;
  border-left-color: #CCCCCC;
  border-left-width: 1pt;
  border-right-color: #CCCCCC;
  border-right-width: 1pt;
  border-top-color: #CCCCCC;
  border-top-width: 1pt;
  margin-bottom: 2.0pt;
  margin-left: 1.5pt;
  margin-right: 7.7443pt;
  margin-top: 6.0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  text-align: left;
}

table.Lined
{
  border-bottom-color: #CCCCCC;
  border-bottom-width: 1pt;
  border-left-color: #CCCCCC;
  border-left-width: 1pt;
  border-right-color: #CCCCCC;
  border-right-width: 1pt;
  border-top-color: #CCCCCC;
  border-top-width: 1pt;
  margin-bottom: 2.0pt;
  margin-left: 99.0pt;
  margin-right: 7.7443pt;
  margin-top: 6.0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  text-align: left;
}

table.Horizontal_All
{
  border-bottom-color: #CCCCCC;
  border-bottom-width: 1pt;
  border-left-color: #CCCCCC;
  border-left-width: 1pt;
  border-right-color: #CCCCCC;
  border-right-width: 1pt;
  border-top-color: #CCCCCC;
  border-top-width: 1pt;
  margin-bottom: 2.0pt;
  margin-left: 99.0pt;
  margin-right: 7.7443pt;
  margin-top: 6.0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  text-align: left;
}

table.Horizontal_Open
{
  border-bottom-color: #CCCCCC;
  border-bottom-width: 1pt;
  border-left-color: #CCCCCC;
  border-left-width: 1pt;
  border-right-color: #CCCCCC;
  border-right-width: 1pt;
  border-top-color: #CCCCCC;
  border-top-width: 1pt;
  margin-bottom: 10.0pt;
  margin-left: 99.0pt;
  margin-right: 126.0pt;
  margin-top: 10.0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  text-align: left;
}

img.Default
{
  border-bottom-width: 0pt;
  border-left-width: 0pt;
  border-right-width: 0pt;
  border-top-width: 0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
}

