p.AH_002eAfterHeadUnderline
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: -10.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.AH_002eAfterHeadUnderline_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0em;
  margin-top: -10.0pt;
}

.AH_002eAfterHeadUnderline_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.AH2_002eAfterHead2
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: -7.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.AH2_002eAfterHead2_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0em;
  margin-top: -7.0pt;
}

.AH2_002eAfterHead2_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.Anchor
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.Anchor_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0em;
  margin-top: 0.0pt;
}

.Anchor_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.B1_002eBullet1
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.B1_002eBullet1_outer
{
  margin-bottom: 6pt;
  margin-right: 0em;
  margin-top: 6pt;
}

.B1_002eBullet1_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.B2_002eBullet2
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.B2_002eBullet2_outer
{
  margin-bottom: 6pt;
  margin-right: 0em;
  margin-top: 6pt;
}

.B2_002eBullet2_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.C1_002econtinued1
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 4.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.C1_002econtinued1_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0em;
  margin-top: 4.0pt;
}

.C1_002econtinued1_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.C2_002econtinued2
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 4.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.C2_002econtinued2_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0em;
  margin-top: 4.0pt;
}

.C2_002econtinued2_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

h2.ChT_002eChapterTitle
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 3pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.ChT_002eChapterTitle_outer
{
  margin-bottom: 3pt;
  margin-right: 0em;
  margin-top: 0.0pt;
}

.ChT_002eChapterTitle_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.ChT_002eChapterTitleTOC
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.ChT_002eChapterTitleTOC_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0em;
  margin-top: 6.0pt;
}

.ChT_002eChapterTitleTOC_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.CL_002eCopyrightLeft
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.CL_002eCopyrightLeft_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0em;
  margin-top: 0.0pt;
}

.CL_002eCopyrightLeft_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.CR_002eCopyrightRight
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.CR_002eCopyrightRight_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0em;
  margin-top: 0.0pt;
}

.CR_002eCopyrightRight_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.Cv_002eCode
{
  color: Black;
  font-family: Courier New, Courier, mono;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 2pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.Cv_002eCode_outer
{
  margin-bottom: 0;
  margin-right: 0em;
  margin-top: 2pt;
}

.Cv_002eCode_inner
{
  color: Black;
  font-family: Courier New, Courier, mono;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.CvF_002eCodeFull
{
  color: Black;
  font-family: Courier New, Courier, mono;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 13.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.CvF_002eCodeFull_outer
{
  margin-bottom: 0;
  margin-right: 0em;
  margin-top: 13.0pt;
}

.CvF_002eCodeFull_inner
{
  color: Black;
  font-family: Courier New, Courier, mono;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.DL_002eDraftLeft
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.DL_002eDraftLeft_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0em;
  margin-top: 0.0pt;
}

.DL_002eDraftLeft_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.DR_002eDraftRight
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.DR_002eDraftRight_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0em;
  margin-top: 0.0pt;
}

.DR_002eDraftRight_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Fg_002eFigure
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 25.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 12.0pt;
  text-align: center;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.Fg_002eFigure_outer
{
  margin-bottom: 25.0pt;
  margin-right: 0em;
  margin-top: 12.0pt;
}

.Fg_002eFigure_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  text-align: center;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.FL_002eLeftFooter
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.FL_002eLeftFooter_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0em;
  margin-top: 0.0pt;
}

.FL_002eLeftFooter_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.FN_002eFootnote
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 4pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.FN_002eFootnote_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0em;
  margin-top: 4pt;
}

.FN_002eFootnote_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.FR_002eRightFooter
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.FR_002eRightFooter_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0em;
  margin-top: 0.0pt;
}

.FR_002eRightFooter_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.G_002eGloss
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 3.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.G_002eGloss_outer
{
  margin-bottom: 3.0pt;
  margin-right: 0em;
  margin-top: 0.0pt;
}

.G_002eGloss_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.GS_002eStackedGloss
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 9.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.GS_002eStackedGloss_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0em;
  margin-top: 9.0pt;
}

.GS_002eStackedGloss_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

h2.H1_002eHeading1
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 22.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.H1_002eHeading1_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0em;
  margin-top: 22.0pt;
}

.H1_002eHeading1_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.H1_002eHeading1TOC
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 2.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.H1_002eHeading1TOC_outer
{
  margin-bottom: 2.0pt;
  margin-right: 0em;
  margin-top: 0.0pt;
}

.H1_002eHeading1TOC_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

h3.H2_002eHeading2
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 22.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.H2_002eHeading2_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0em;
  margin-top: 22.0pt;
}

.H2_002eHeading2_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.H2_002eHeading2TOC
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 2.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.H2_002eHeading2TOC_outer
{
  margin-bottom: 2.0pt;
  margin-right: 0em;
  margin-top: 0.0pt;
}

.H2_002eHeading2TOC_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

h4.H3_002eHeading3
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 17.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.H3_002eHeading3_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0em;
  margin-top: 17.0pt;
}

.H3_002eHeading3_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.H3_002eHeading3TOC
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 2.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.H3_002eHeading3TOC_outer
{
  margin-bottom: 2.0pt;
  margin-right: 0em;
  margin-top: 0.0pt;
}

.H3_002eHeading3TOC_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

h5.H4_002eHeading4
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 8.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 8.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.H4_002eHeading4_outer
{
  margin-bottom: 8.0pt;
  margin-right: 0em;
  margin-top: 8.0pt;
}

.H4_002eHeading4_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.I_002eImportant
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 12.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.I_002eImportant_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0em;
  margin-top: 12.0pt;
}

.I_002eImportant_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.L_002eListing
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 11.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 25.0pt;
  text-align: center;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.L_002eListing_outer
{
  margin-bottom: 11.0pt;
  margin-right: 0em;
  margin-top: 25.0pt;
}

.L_002eListing_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  text-align: center;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.N_002eNList
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.N_002eNList_outer
{
  margin-bottom: 6pt;
  margin-right: 0em;
  margin-top: 6pt;
}

.N_002eNList_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.N_002f_002eNList_003d1
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.N_002f_002eNList_003d1_outer
{
  margin-bottom: 6pt;
  margin-right: 0em;
  margin-top: 6pt;
}

.N_002f_002eNList_003d1_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.N2_002eNList2
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 3.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 3.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.N2_002eNList2_outer
{
  margin-bottom: 3.0pt;
  margin-right: 0em;
  margin-top: 3.0pt;
}

.N2_002eNList2_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.N2_002f_002eNList2_003d1
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 3.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 3.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.N2_002f_002eNList2_003d1_outer
{
  margin-bottom: 3.0pt;
  margin-right: 0em;
  margin-top: 3.0pt;
}

.N2_002f_002eNList2_003d1_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.NB_002eNoteBullet
{
  color: #003366;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: oblique;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 4.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.NB_002eNoteBullet_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0em;
  margin-top: 4.0pt;
}

.NB_002eNoteBullet_inner
{
  color: #003366;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: oblique;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.NC_002eNoteContinued
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.NC_002eNoteContinued_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0em;
  margin-top: 0.0pt;
}

.NC_002eNoteContinued_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.Note
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.Note_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0em;
  margin-top: 0.0pt;
}

.Note_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.PN_002eParamName
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 5.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.PN_002eParamName_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0em;
  margin-top: 5.0pt;
}

.PN_002eParamName_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.PN_002ePartNumber
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 31.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 24.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.PN_002ePartNumber_outer
{
  margin-bottom: 31.0pt;
  margin-right: 0em;
  margin-top: 24.0pt;
}

.PN_002ePartNumber_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.PT_002ePartTitle
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 65.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 48.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.PT_002ePartTitle_outer
{
  margin-bottom: 65.0pt;
  margin-right: 0em;
  margin-top: 48.0pt;
}

.PT_002ePartTitle_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.PT_002ePartTitleTOC
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 20.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.PT_002ePartTitleTOC_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0em;
  margin-top: 20.0pt;
}

.PT_002ePartTitleTOC_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.RD_002eRoutineDeclare
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 10.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 12.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.RD_002eRoutineDeclare_outer
{
  margin-bottom: 10.0pt;
  margin-right: 0em;
  margin-top: 12.0pt;
}

.RD_002eRoutineDeclare_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.RP_002eRoutineParam
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.RP_002eRoutineParam_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0em;
  margin-top: 6.0pt;
}

.RP_002eRoutineParam_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.RP2_002eRoutineParam2
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.RP2_002eRoutineParam2_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0em;
  margin-top: 6.0pt;
}

.RP2_002eRoutineParam2_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.SBH_002eSidebarheading
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.SBH_002eSidebarheading_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0em;
  margin-top: 0.0pt;
}

.SBH_002eSidebarheading_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.SBT1_002eSidebarText1
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.SBT1_002eSidebarText1_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0em;
  margin-top: 0.0pt;
}

.SBT1_002eSidebarText1_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.T1_002eText1
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.T1_002eText1_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0em;
  margin-top: 0.0pt;
}

.T1_002eText1_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TableTitle
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 25.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.TableTitle_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0em;
  margin-top: 25.0pt;
}

.TableTitle_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TbCv_002eTableCode
{
  color: #000000;
  font-family: Courier New, Courier, mono;
  font-size: 10px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 2.0pt;
  text-align: Left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.TbCv_002eTableCode_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0em;
  margin-top: 2.0pt;
}

.TbCv_002eTableCode_inner
{
  color: #000000;
  font-family: Courier New, Courier, mono;
  font-size: 10px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TbH_002eTblHd
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: center;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.TbH_002eTblHd_outer
{
  margin-bottom: 0em;
  margin-right: 0em;
  margin-top: 0em;
}

.TbH_002eTblHd_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: center;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TbN_002eTableNote
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 2.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.TbN_002eTableNote_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0em;
  margin-top: 2.0pt;
}

.TbN_002eTableNote_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TbT_002eTblText
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.TbT_002eTblText_outer
{
  margin-bottom: 0em;
  margin-right: 0em;
  margin-top: 0em;
}

.TbT_002eTblText_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.TbTL_002e2TblTextLeftCol
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 2.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.TbTL_002e2TblTextLeftCol_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0em;
  margin-top: 2.0pt;
}

.TbTL_002e2TblTextLeftCol_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TbTL_002eTblTextLeftCol
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.TbTL_002eTblTextLeftCol_outer
{
  margin-bottom: 0em;
  margin-right: 0em;
  margin-top: 0em;
}

.TbTL_002eTblTextLeftCol_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

p.W_002eWarning
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 12.0pt;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.W_002eWarning_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0em;
  margin-top: 12.0pt;
}

.W_002eWarning_inner
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

span.a_00310bat
{
  color: #000000;
  font-family: Wingdings;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.a_00336pt
{
  color: #000000;
  font-family: "Times New Roman";
  font-size: 36.0pt;
  font-style: normal;
  font-weight: normal;
  vertical-align: baseline;
}

span.a_0038bat
{
  color: #000000;
  font-family: Wingdings;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: normal;
  vertical-align: baseline;
}

span.a_0038batcolor
{
  color: #000000;
  font-family: Wingdings;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: normal;
  vertical-align: baseline;
}

span.a_0038Black
{
  color: #000000;
  font-family: "Times New Roman";
  font-size: 8.0pt;
  font-style: normal;
  font-weight: bold;
  vertical-align: baseline;
}

span.a_0038Light
{
  color: #000000;
  font-family: "Times New Roman";
  font-size: 8.0pt;
  font-style: normal;
  font-weight: normal;
  vertical-align: baseline;
}

span.AC_002eAuthorComment
{
  color: #ff00ff;
  font-family: "Times New Roman";
  font-size: 10.0pt;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.action
{
  color: #000000;
  font-family: "Times New Roman";
  font-size: 9.0pt;
  font-style: normal;
  font-weight: bold;
  vertical-align: baseline;
}

span.B1
{
  color: #000000;
  font-family: Wingdings;
  font-size: 7.0pt;
  font-style: normal;
  font-weight: normal;
  vertical-align: baseline;
}

span.B2
{
  color: #000000;
  font-family: Wingdings;
  font-size: 7.0pt;
  font-style: normal;
  font-weight: normal;
  vertical-align: baseline;
}

span.bold
{
  font-weight: bold;
}

span.CN_002eColumnName
{
  color: #000000;
  font-family: Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.cv
{
  color: #000000;
  font-family: Courier New, Courier, mono;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.cvb_002ecodebold
{
  color: #000000;
  font-family: "Courier New";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.cvi_002ecodeitalic
{
  color: #000000;
  font-family: "Courier New";
  font-size: 9.0pt;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.EquationVariables
{
  color: #000000;
  font-family: "Times New Roman";
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.fignum
{
  color: #000000;
  font-family: Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: bold;
  vertical-align: baseline;
}

span.Folio
{
  color: #000000;
  font-family: "Times New Roman";
  font-size: 10.0pt;
  font-style: normal;
  font-weight: bold;
  vertical-align: baseline;
}

span.hotlink
{
  color: #000000;
}

span.IMPORTANT
{
  color: #000000;
  font-family: Verdana;
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.Invisible
{
  color: #ffffff;
}

em.italics
{
  font-style: italic;
}

span.normal
{
  color: #000000;
  font-family: "Times New Roman";
  font-size: 10.0pt;
  font-style: normal;
  font-weight: normal;
  vertical-align: baseline;
}

b.Note_0026FdHds
{
  color: #000000;
  font-family: Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: bold;
  vertical-align: baseline;
}

sub.Subscript
{
  vertical-align: sub;
}

sup.Superscript
{
  vertical-align: super;
}

span.TblNote
{
  color: #000000;
  font-family: "Times New Roman";
  font-size: 7.0pt;
  font-style: normal;
  font-weight: normal;
  vertical-align: baseline;
}

u.Underline
{
  text-decoration: underline;
}

span.WARNING
{
  color: #000000;
  font-family: Verdana;
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.WebJump
{
  color: #000000;
  font-family: "Times New Roman";
  font-size: 11.0pt;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

table.ColsTextWidth
{
  border-bottom-color: #CCCCCC;
  border-bottom-width: 1pt;
  border-left-color: #CCCCCC;
  border-left-width: 1pt;
  border-right-color: #CCCCCC;
  border-right-width: 1pt;
  border-top-color: #CCCCCC;
  border-top-width: 1pt;
  margin-bottom: 10.0pt;
  margin-left: 61.0pt;
  margin-right: 0.0pt;
  margin-top: 10.0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  text-align: left;
}

table.TbR_002eTableofElementRequirements
{
  border-bottom-color: #CCCCCC;
  border-bottom-width: 1pt;
  border-left-color: #CCCCCC;
  border-left-width: 1pt;
  border-right-color: #CCCCCC;
  border-right-width: 1pt;
  border-top-color: #CCCCCC;
  border-top-width: 1pt;
  margin-bottom: 10.0pt;
  margin-left: 61.0pt;
  margin-right: 0.0pt;
  margin-top: 10.0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  text-align: left;
}

table.SumGlblVars
{
  border-bottom-width: 1pt;
  border-left-width: 1pt;
  border-right-width: 1pt;
  border-top-width: 1pt;
  margin-bottom: 5.0pt;
  margin-left: -20.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  padding-bottom: 3pt;
  padding-left: 20pt;
  padding-right: 0pt;
  padding-top: 0pt;
  text-align: left;
}

table.ColsFullWidth
{
  border-bottom-width: 1pt;
  border-left-width: 1pt;
  border-right-width: 1pt;
  border-top-width: 1pt;
  margin-bottom: 10.0pt;
  margin-left: -20.0pt;
  margin-right: 0.0pt;
  margin-top: 3.0pt;
  padding-bottom: 1pt;
  padding-left: 20pt;
  padding-right: 0pt;
  padding-top: 5pt;
  text-align: left;
}

table.SumParam
{
  border-bottom-width: 1pt;
  border-left-width: 1pt;
  border-right-width: 1pt;
  border-top-width: 1pt;
  margin-bottom: 6.0pt;
  margin-left: -20.0pt;
  margin-right: 0.0pt;
  margin-top: 5.5pt;
  padding-bottom: 0pt;
  padding-left: 20pt;
  padding-right: 0pt;
  padding-top: 2pt;
  text-align: left;
}

table.ResultList
{
  border-bottom-width: 1pt;
  border-left-width: 1pt;
  border-right-width: 1pt;
  border-top-width: 1pt;
  margin-bottom: 0.0pt;
  margin-left: 46.0pt;
  margin-right: 0.0pt;
  margin-top: 5.0pt;
  padding-bottom: 0pt;
  padding-left: 20pt;
  padding-right: 0pt;
  padding-top: 1pt;
  text-align: left;
}

table.SumResultList
{
  border-bottom-width: 1pt;
  border-left-width: 1pt;
  border-right-width: 1pt;
  border-top-width: 1pt;
  margin-bottom: 6.0pt;
  margin-left: -20.0pt;
  margin-right: 0.0pt;
  margin-top: 0.5pt;
  padding-bottom: 0pt;
  padding-left: 20pt;
  padding-right: 0pt;
  padding-top: 1.5pt;
  text-align: left;
}

table.TblTextWidth
{
  border-bottom-color: #CCCCCC;
  border-bottom-width: 1pt;
  border-left-color: #CCCCCC;
  border-left-width: 1pt;
  border-right-color: #CCCCCC;
  border-right-width: 1pt;
  border-top-color: #CCCCCC;
  border-top-width: 1pt;
  margin-bottom: 21.0pt;
  margin-left: 46.0pt;
  margin-right: 0.0pt;
  margin-top: 27.0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  text-align: left;
}

table.ParamBlock
{
  border-bottom-width: 1pt;
  border-left-width: 1pt;
  border-right-width: 1pt;
  border-top-width: 1pt;
  margin-bottom: 7.0pt;
  margin-left: 46.0pt;
  margin-right: 0.0pt;
  margin-top: 2.0pt;
  padding-bottom: 0pt;
  padding-left: 20pt;
  padding-right: 0pt;
  padding-top: 2pt;
  text-align: left;
}

table.RoutineCols
{
  border-bottom-width: 1pt;
  border-left-width: 1pt;
  border-right-width: 1pt;
  border-top-width: 1pt;
  margin-bottom: 0.0pt;
  margin-left: 46.0pt;
  margin-right: 0.0pt;
  margin-top: 4.0pt;
  padding-bottom: 1pt;
  padding-left: 20pt;
  padding-right: 0pt;
  padding-top: 5pt;
  text-align: left;
}

table.SumCols
{
  border-bottom-width: 1pt;
  border-left-width: 1pt;
  border-right-width: 1pt;
  border-top-width: 1pt;
  margin-bottom: 0.0pt;
  margin-left: -20.0pt;
  margin-right: 0.0pt;
  margin-top: 1.0pt;
  padding-bottom: 1pt;
  padding-left: 20pt;
  padding-right: 0pt;
  padding-top: 5pt;
  text-align: left;
}

table.TblLandscape
{
  border-bottom-width: 1pt;
  border-left-width: 1pt;
  border-right-width: 1pt;
  border-top-width: 1pt;
  margin-bottom: 21.0pt;
  margin-left: -20.0pt;
  margin-right: 0.0pt;
  margin-top: 0.0pt;
  padding-bottom: 0pt;
  padding-left: 20pt;
  padding-right: 0pt;
  padding-top: 8pt;
  text-align: left;
}

table.Lined
{
  border-bottom-color: #CCCCCC;
  border-bottom-width: 1pt;
  border-left-color: #CCCCCC;
  border-left-width: 1pt;
  border-right-color: #CCCCCC;
  border-right-width: 1pt;
  border-top-color: #CCCCCC;
  border-top-width: 1pt;
  margin-bottom: 2.0pt;
  margin-left: 0.0pt;
  margin-right: 7.7443pt;
  margin-top: 6.0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  text-align: left;
}

table.TblFullWidth
{
  border-bottom-width: 1pt;
  border-left-width: 1pt;
  border-right-width: 1pt;
  border-top-width: 1pt;
  margin-bottom: 21.0pt;
  margin-left: -20.0pt;
  margin-right: 0.0pt;
  margin-top: 27.0pt;
  padding-bottom: 2pt;
  padding-left: 20pt;
  padding-right: 0pt;
  padding-top: 6pt;
  text-align: left;
}

table.Format_B
{
  border-bottom-color: #CCCCCC;
  border-bottom-width: 1pt;
  border-left-color: #CCCCCC;
  border-left-width: 1pt;
  border-right-color: #CCCCCC;
  border-right-width: 1pt;
  border-top-color: #CCCCCC;
  border-top-width: 1pt;
  margin-bottom: 12.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 12.0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  text-align: center;
}

table.Format_A
{
  border-bottom-color: #CCCCCC;
  border-bottom-width: 1pt;
  border-left-color: #CCCCCC;
  border-left-width: 1pt;
  border-right-color: #CCCCCC;
  border-right-width: 1pt;
  border-top-color: #CCCCCC;
  border-top-width: 1pt;
  margin-bottom: 12.0pt;
  margin-left: 0.0pt;
  margin-right: 0.0pt;
  margin-top: 12.0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  text-align: left;
}

img.Default
{
  border-bottom-width: 0pt;
  border-left-width: 0pt;
  border-right-width: 0pt;
  border-top-width: 0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
}

